.jumbotron {
	background-color: pink;
}

.card-item {
	flex: 1 200px;
	margin-top: 10px;
	margin-right: 10px;
}

.btn-comprar {
	width: 100%;
}

footer {
	background-color: pink;
	margin-top: 20px;
}

.navbar {
	background-color: #e3f2fd;
	position: sticky;
}

.card-item-icon {
	padding-right: 10px;
}

.texto-evento-malvaviscos {
	position: absolute;
	bottom: 5%;
	padding: 10px 30px 0;
	text-align: center;
	width: 80%;
}

